<!-- start custom head snippets -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/favicons/site.webmanifest">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#ba0000">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="damageboy">
<meta name="application-name" content="damageboy">
<meta name="msapplication-TileColor" content="#ba0000">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
<meta name="theme-color" content="#ba0000ff">

<!-- <link rel="stylesheet" type="text/css" href="/assets/css/inlineDisqussions.css" /> -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
WebFont.load({
  google: {
    families: ['Lato', 'Indie Flower']
  },
  custom: {
    families: ['Cascadia Code'],
    urls: ['/assets/css/cascadia.css']
  }
});
</script>


<script defer src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script defer src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script defer src="/assets/scripts/config-mathjax.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml-full.js"></script>
<!-- <script defer src="/assets/scripts/inlineDisqussions.js"></script> -->
<script defer src="/assets/scripts/uikit.min.js"></script>
<script defer src="/assets/scripts/uikit-icons.min.js"></script>
<script defer src="//cdn.jsdelivr.net/npm/roughjs@3.1.0"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<!-- <script defer src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script> -->
<script defer src="//cdn.jsdelivr.net/npm/chartjs-plugin-rough@0.2.0"></script>
<script defer src="//cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script defer src="//cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.3"></script>
<!-- <script defer src="//cdn.jsdelivr.net/npm/chartjs-plugin-deferred@1.0.1"></script> -->
<!-- <script defer src="/assets/scripts/applyInlineDisqussions.js"></script> -->
<script defer src="/assets/scripts/inline-chartjs.js"></script>

<link href="/assets/css/chardinjs.css" rel="stylesheet">
<script defer src="/assets/scripts/chardinjs.min.js"></script>

<!-- This is entirely for the  datatable.js -->
<link rel="stylesheet" href="/assets/css/bootstrap.css">
<link rel="stylesheet" href="//unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css"> 
<link rel="stylesheet" href="//unpkg.com/bootstrap-table@1.15.5/dist/extensions/filter-control/bootstrap-table-filter-control.min.css">
<link rel="stylesheet" href="/assets/css/datatable.css">

<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script defer src="//unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<script defer src="//unpkg.com/bootstrap-table@1.15.5/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script defer type="text/javascript" src="/assets/scripts/datatable.js"></script>
 
