<!-- start custom head snippets -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/favicons/site.webmanifest">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#ba0000">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="damageboy">
<meta name="application-name" content="damageboy">
<meta name="msapplication-TileColor" content="#ba0000">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
<meta name="theme-color" content="#ba0000ff">

<!-- <link rel="stylesheet" type="text/css" href="/assets/css/inlineDisqussions.css" /> -->
<script src="/assets/scripts/webfont.js"></script>
<script>
WebFont.load({
  google: {
    families: ['Lato', 'Indie Flower']
  },
  custom: {
    families: ['Cascadia Code'],
    urls: ['/assets/css/cascadia.css']
  }
});
</script>


<script defer src="/assets/scripts/jquery.min.js"></script>
<script defer src="/assets/scripts/polyfill.min.js"></script>
<script defer src="/assets/scripts/config-mathjax.js"></script>
<script defer src="/assets/scripts/tex-chtml-full.js"></script>
<!-- <script defer src="/assets/scripts/inlineDisqussions.js"></script> -->
<script defer src="/assets/scripts/uikit.min.js"></script>
<script defer src="/assets/scripts/uikit-icons.min.js"></script>
<script defer src="/assets/scripts/roughjs@3.1.0"></script>
<script defer src="/assets/scripts/Chart.bundle.min.js"></script>
<script defer src="/assets/scripts/chartjs-plugin-rough@0.2.0"></script>
<script defer src="/assets/scripts/chartjs-plugin-annotation.js"></script>
<!-- <script defer src="/assets/scripts/applyInlineDisqussions.js"></script> -->
<script defer src="/assets/scripts/inline-chartjs.js"></script>

<link href="/assets/css/chardinjs.css" rel="stylesheet">
<script defer src="/assets/scripts/chardinjs.min.js"></script>

<!-- This is entirely for the  datatable.js -->
<link rel="stylesheet" href="/assets/css/bootstrap.css">
<link rel="stylesheet" href="/assets/css/bootstrap-table.min.css"> 
<link rel="stylesheet" href="/assets/css/bootstrap-table-filter-control.min.css">
<link rel="stylesheet" href="/assets/css/datatable.css">

<script defer src="/assets/scripts/bootstrap.min.js"></script>
<script defer src="/assets/scripts/bootstrap-table.min.js"></script>
<script defer src="/assets/scripts/bootstrap-table-filter-control.min.js"></script>
<script defer src="/assets/scripts/moment.min.js"></script>
<script defer type="text/javascript" src="/assets/scripts/datatable.js"></script>
